{% extends 'bookings/base.html' %}

{% block title %}Buscar Vuelo{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4 text-center">Buscar Vuelo</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Filtros de búsqueda
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'vuelo-search' %}">
                            {% csrf_token %}  
                            {{ ARJONA.as_p }} 
                            <button type="buscar" class="btn btn-primary">Buscar</button>
                            <a href="{% url 'bookings-list' %}" class="btn btn-secondary">Limpiar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}