{% extends 'bookings/base.html' %}

{% block title %}Crear Reserva{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4 text-center">Crear Vuelo</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Datos del Vuelo
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'vuelo-create' %}">  
                            {% csrf_token %}  <!-- CSRF Token added here -->
                            {{ LUISMIGUEL.as_p }} 
                            <button type="buscar" class="btn btn-primary">Envíar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}