{% extends 'bookings/base.html' %}

{% block title %}Crear Usuario Viajero{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4 text-center">Crear Usuario Viajero</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Datos del Usuario
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'crear-usuario-viajero' %}">
                            {% csrf_token %}  
                            {{ INDIOSOLARI.as_p }} 
                            <button type="buscar" class="btn btn-primary">Enviar</button>
                            <a href="{% url 'list-usuario-viajero' %}" class="btn btn-secondary">Limpiar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
