{% extends 'bookings/base.html' %}

{% block title %}Modificar Usuario Viajero{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4 text-center">Modificar Usuario</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Datos del Usuario
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'editar-usuario-viajero' POLY.id %}">  
                            {% csrf_token %}  <!-- CSRF Token added here -->
                            {{ SKAY.as_p }}  
                            <button type="buscar" class="btn btn-primary">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}